/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2020, 8:58:54 AM
    Author     : oputans2
*/
.bold{
    font-weight: bold;
}
.justified{
    text-align: justify;
}
.centered{
    text-align: center;
}
#flag{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.reddish{
    background-color: #FDBFBF;
}
.right{
    text-align: right;
}
.large{
    font-size: 200%;
}